services:
  api:
    image: cyd/concert-api-app:latest
    restart: unless-stopped
    env_file: .env
    environment:
      - DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}
      - NODE_ENV=development
    ports:
      - '3000:3000'
    depends_on:
      - db
    networks:
      - app-network
    volumes:
      - ./uploads:/var/uploads

  app:
    image: cyd/concert-app-ui:latest
    restart: unless-stopped
    depends_on:
      - api
    networks:
      - app-network
    ports:
      - '5000:3000'
    environment:
      - API_ENDPOINT=${API_ENDPOINT:-http://api:3000}
      - NODE_ENV=production

  db:
    image: postgres:17-alpine
    restart: always
    env_file: .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - ./db-data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  db-data:
    driver: local
  uploads:
    driver: local

networks:
  app-network:
